<!DOCTYPE html>
<html>
<head>
	<title>PieChart</title>
	<script src="static/Chart.min.js"></script>
</head>
<body>

<canvas id="pie" width="600" height="400"></canvas>

<script>
	 var pieData = [
            {% for item,label,colors in st %}
                {
                    value: {{item}},
                    label: "{{label}}",
                    color : "{{colors}}"
                },
                {% endfor %}
 
 
         ];
 
   // get bar chart canvas
   var mychart = document.getElementById("pie").getContext("2d");
 
   steps = 10
   max = 10
   // draw pie chart
   new Chart(mychart).Pie(pieData);
</script>

</body>
</html>